body{
    background-image: url("https://as2.ftcdn.net/v2/jpg/03/01/85/25/1000_F_301852563_VNvmEGxkoXkxiRbE97f02244D6Rk2FyO.jpg");
    background-position:center ;
    backdrop-filter: blur(10px);
    background-size: cover;
    margin:0;
    padding:0;
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Title{
    background-color: rgba(115, 26, 115, 0.307);
    height: 60px;
    width:100%;
    top: 10px;
    border-radius: 20px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.2);
    display:flex;
    .title{
        display:flex;
        justify-content: center;
        align-content: center;
        margin:auto auto;
        font-size: 15px;
        width: 100px;
        height: 20px;;
        border-radius: 20px;
        box-shadow: 0px 5px 15px rgba(0,0,0,0.05);
        background-color: rgba(214, 66, 91, 0.578);
        border: 2px solid rgb(173, 57, 76);
        padding:6px;
        color :white;
        transform: scale(1.2);
    }
}
.Text{
    display:flex;
    flex-direction: column;
    background-color: rgba(214, 66, 91, 0.578);
    position: relative;
    width: 400px;
    height: 230px;
    margin:150px auto;
    border-radius: 20px;
    padding: 20px 20px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.5);
    .Butt{
        justify-content: center;
        margin: 0px auto;
        padding:25px;
        .tha-tim{
            justify-content: center;
            align-items: center;
            margin:auto auto;
            font-size: 15px;
            width: 100px;
            height: 30px;;
            border-radius: 20px;
            box-shadow: 0px 5px 15px rgba(0,0,0,0.05);
            background-color: rgba(214, 66, 91, 0.578);
            border: 2px solid rgb(173, 57, 76);
            padding:5px;
            margin:auto 10px;
            color :white;
        }
    }
    .Content{
        color:pink;
        justify-items: center;
        margin:auto auto;
        padding:5px;
    }
}
.heart{
    top:70px;
    height: 70px;
    width: 70px;
    background: #f20044;
    position: relative;
    transform: rotate(-45deg);
    box-shadow: -10px 10px 90px #f20044;
    animation: heart 0.6s linear infinite;
}
@keyframes heart{
    0%{
        transform: rotate(-45deg) scale(1.07);
    }
    80%{
        transform: rotate(-45deg) scale(1.0);
    }
    100%{
        transform: rotate(-45deg) scale(0.8);
    }
}
.heart:before{
    content:'';
    position: absolute;
    height: 70px;
    width:70px;
    background: #f20044;
    top:-50%;
    border-radius: 50px;
    box-shadow: -10px -10px 90px #f20044;
}
.heart:after{
    content:'';
    position: absolute;
    height: 70px;
    width:70px;
    background: #f20044;
    right:-50%;
    border-radius: 50px;
    box-shadow: -10px -10px 90px #f20044;
}
body :hover{
    transform: scale(1.1);
}
#button:hover{
    transform: scale(1.5);
}
#button:active{
    transform: scale(1.2) rotate(5deg);

}
.tim-bay-len{
    position: absolute;
    width: 25px;
    height:18px;
    animation:bay 5s ease-in;
}
.tim-bay-len:before, .tim-bay-len:after{
    position: absolute;
    content:"";
    left:16px;
    top:0;
    width:16px;
    height:25px;
    background-color: #f20044;
    border-radius: 100px 100px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}
.tim-bay-len:after{
    left:0px;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}
@keyframes bay{
    0%{
        transform: scale(0)
        translateY(250px) 
        translateX(50px);
    }
    50%{
        transform: scale(7.5)
        translateY(-200px) 
        translateX(60px);
    }
    90%{
        transform: scale(10)
        translateY(-200px) 
        translateX(70px);
    }
    100%{
        transform: scale(0)
        translateY(-200px) 
        translateX(65px);
    }
}
.tim-bay-len-t{
    position: absolute;
    width: 25px;
    height:18px;
    animation:bayt 5s ease-in;
}
.tim-bay-len-t:before, .tim-bay-len-t:after{
    position: absolute;
    content:"";
    left:16px;
    top:0;
    width:16px;
    height:25px;
    background-color: #f20044;
    border-radius: 100px 100px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}
.tim-bay-len-t:after{
    left:0px;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}
@keyframes bayt{
    0%{
        transform: scale(0)
        translateY(250px) 
        translateX(-50px);
    }
    50%{
        transform: scale(7.5)
        translateY(-200px) 
        translateX(-60px);
    }
    90%{
        transform: scale(10)
        translateY(-200px) 
        translateX(-70px);
    }
    100%{
        transform: scale(0)
        translateY(-200px) 
        translateX(-65px);
    }
}
.tim-bay-len-lt{
    position: absolute;
    width: 25px;
    height:18px;
    animation:baylt 5s ease-in;
}
.tim-bay-len-lt:before, .tim-bay-len-lt:after{
    position: absolute;
    content:"";
    left:16px;
    top:0;
    width:16px;
    height:25px;
    background-color: #f20044;
    border-radius: 100px 100px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}
.tim-bay-len-lt:after{
    left:0px;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}
@keyframes baylt{
    0%{
        transform: scale(0)
        translateY(250px) 
        translateX(-100px);
    }
    50%{
        transform: scale(7.5)
        translateY(-200px) 
        translateX(-110px);
    }
    90%{
        transform: scale(10)
        translateY(-200px) 
        translateX(-120px);
    }
    100%{
        transform: scale(0)
        translateY(-200px) 
        translateX(-115px);
    }
}
.tim-bay-len-rt{
    position: absolute;
    width: 25px;
    height:18px;
    animation:bayrt 5s ease-in;
}
.tim-bay-len-rt:before, .tim-bay-len-rt:after{
    position: absolute;
    content:"";
    left:16px;
    top:0;
    width:16px;
    height:25px;
    background-color: #f20044;
    border-radius: 100px 100px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}
.tim-bay-len-rt:after{
    left:0px;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}
@keyframes bayrt{
    0%{
        transform: scale(0)
        translateY(250px) 
        translateX(100px);
    }
    50%{
        transform: scale(7.5)
        translateY(-200px) 
        translateX(110px);
    }
    90%{
        transform: scale(10)
        translateY(-200px) 
        translateX(120px);
    }
    100%{
        transform: scale(0)
        translateY(-200px) 
        translateX(115px);
    }
}
.tim-bay-lenm{
    position: absolute;
    width: 25px;
    height:18px;
    animation:baym 5s ease-in;
}
.tim-bay-lenm:before, .tim-bay-lenm:after{
    position: absolute;
    content:"";
    left:16px;
    top:0;
    width:16px;
    height:25px;
    background-color: #f20044;
    border-radius: 100px 100px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}
.tim-bay-lenm:after{
    left:0px;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}
@keyframes baym{
    0%{
        transform: scale(0)
        translateY(250px) 
    }
    50%{
        transform: scale(7.5)
        translateY(-200px) 
    }
    90%{
        transform: scale(10)
        translateY(-200px) 
    }
    100%{
        transform: scale(0)
        translateY(-200px) 
    }
}